apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: infisical
spec:
  provider:
    infisical:
      auth:
        universalAuthCredentials:
          clientId:
            key: clientId
            namespace: external-secrets
            name: infisical-credentials
          clientSecret:
            key: clientSecret
            namespace: external-secrets
            name: infisical-credentials
      secretsScope:
        projectSlug: k8-s-home-t-xs-g
        environmentSlug: dev
      hostAPI: https://app.infisical.com